/* Test */


/*================================= 
Universal
=================================*/
/* Body */
body.site {
    padding: 0;
    border: none;
}


/* Body container */
.body .container {
	border-radius: 0;
    box-shadow: none;
    border: none;
}



/*================================= 
Navbar
=================================*/




/*================================= 
Misc
=================================*/
/* Fluid container */
.container-fluid {
    padding: 0;
}