/* Comments

#114B5F
#028090
#D34E24

*/


/*================================= 
Universal
=================================*/
/* Body */
body.site {
    padding: 0;
    border: none;
}


/* Body container */
.body .container {
	border-radius: 0;
    box-shadow: none;
    border: none;
}



/*================================= 
Navbar
=================================*/
.navigation {
    background: #f4f5f4;
}


/*================================= 
Articles
=================================*/
.row-fluid {
    margin: auto;
    max-width: 70%;
}

/*================================= 
Articles
=================================*/
footer {
    background: #f4f5f4;
}

/*================================= 
Misc
=================================*/
/* Fluid container */
.container-fluid {
    padding: 0;
}